page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5ch;
  /*box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);*/
}

html,
body {
  width: 210mm;
  height: 148mm;
  /*border-style: solid;
  border-width: 5px;*/
}

.logo {
  display: flex;
  gap: 0.8rem;
  align-items: left;
  justify-content: left;
  font-size: 2.4rem;
  margin: auto;
  /*cursor: pointer;*/
}
.logo img {
  width: 4.5rem;
  height: 4.5rem;
}
.top {
  width: auto;
  display: flex;
  justify-content: left;
  margin: auto;
  overflow-x: hidden;
  padding: 5px;
}

h4 {
  font-weight: 100;
  font-size: 14px;
}
